.footer-info {
  margin-bottom: 16vw;
  padding: 0 5.0667vw;
  width: 100vw;
  text-align: center;
  background-color: #fff;

  a {
    color: #969ba3;
    font-size: 3.7333vw;
  }

  .footer-link {
    padding: 5.0667vw 0 0;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        flex: 1;
      }
    }
  }

  .footer-type {
    padding: 5.0667vw 0 2.1333vw;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        flex: 1;

        &:nth-child(2) {
          a {
            color: #33373d;
          }
        }
      }
    }
  }

  .footer-copy {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 3.2vw;
      line-height: 1.5;
      color: #969ba3;

      li {
        flex: 1;
      }
    }
  }
}