.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.two-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.red-line {
  position: absolute;
  left: 0;
  top: 0.5997vh;
  display: block;
  content: "";
  width: 0.5333vw;
  height: 2.3988vh;
  background-color: #e5353e;
}
.grey-bottom-line {
  position: absolute;
  left: 4.2667vw;
  bottom: 0;
  display: block;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: #f0f1f2;
}
.category-line {
  margin: 0 auto;
  width: 91.4667vw;
  height: 1px;
  background-color: #f0f1f2;
}
.free-now {
  margin-bottom: 3.2vw;
  padding-top: 2.3238vh;
  background-color: #fff;
}
.free-now .free-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.2667vw;
  height: 4.1979vh;
}
.free-now .free-title h2 {
  position: relative;
  padding-left: 2.6667vw;
  color: #33373d;
  font-weight: bold;
  font-size: 4.2667vw;
}
.free-now .free-title h2::after {
  position: absolute;
  left: 0;
  top: 0.5997vh;
  display: block;
  content: "";
  width: 0.5333vw;
  height: 2.3988vh;
  background-color: #e5353e;
}
.free-now .free-title .time {
  flex: 1;
  margin-left: 1.0667vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.free-now .free-title .time > div {
  width: 3.7333vw;
  height: 3.7333vw;
  background-color: #33373d;
  color: #fff;
  border-radius: 0.5333vw;
  font-size: 3.2vw;
}
.free-now .free-title .time > div:nth-child(1) {
  background-color: #ed424b;
}
.free-now .free-title .time > span {
  padding: 0 0.2667vw;
}
.free-now .free-title a {
  color: #969ba3;
  font-size: 3.7333vw;
}
.free-now .free-title a b {
  vertical-align: middle;
}
.free-now .free-title a span {
  font-size: 5.3333vw;
  vertical-align: middle;
}
.free-now .free-list {
  padding-left: 2.1333vw;
}
.free-now .free-list ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}
.free-now .free-list ul::-webkit-scrollbar {
  display: none;
}
.free-now .free-list ul li {
  flex-basis: 21.8667vw;
}
.free-now .free-list ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 3.2vw 2.1333vw 2.1333vw;
  width: 21.8667vw;
  height: 45.0667vw;
}
.free-now .free-list ul li a span {
  position: absolute;
  text-align: center;
  top: 3.2vw;
  left: 2.1333vw;
  overflow: hidden;
  width: 10.6667vw;
  height: 10.6667vw;
}
.free-now .free-list ul li a span i {
  position: absolute;
  text-align: center;
  top: 0.8vw;
  left: -3.4667vw;
  width: 13.3333vw;
  background-color: #4284ed;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  transform: rotate(-45deg);
}
.free-now .free-list ul li a img {
  width: 17.6vw;
  height: 23.4667vw;
}
.free-now .free-list ul li a h5 {
  width: 17.6vw;
  color: #33373d;
  font-size: 3.4667vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.free-now .free-list ul li a p {
  width: 19.2vw;
  color: #969ba3;
  font-size: 3.2vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
