@font-face {
  font-family: "iconfont"; /* Project id 3928973 */
  src: url('iconfont.woff2?t=1679543524378') format('woff2'),
       url('iconfont.woff?t=1679543524378') format('woff'),
       url('iconfont.ttf?t=1679543524378') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantoushang:before {
  content: "\e61d";
}

.icon-jiantouxia:before {
  content: "\e640";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-huangguan:before {
  content: "\e870";
}

.icon-shu:before {
  content: "\e60c";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-jiazai_shuaxin_o:before {
  content: "\eb7b";
}

.icon-cart:before {
  content: "\e70d";
}

.icon-weixin:before {
  content: "\e604";
}

.icon-pingguo:before {
  content: "\e624";
}

.icon-changyonglogo37:before {
  content: "\e71e";
}

.icon-fuwu:before {
  content: "\e617";
}

.icon-home:before {
  content: "\e6bc";
}

.icon-cha:before {
  content: "\e605";
}

.icon-mima:before {
  content: "\e615";
}

.icon-xinxi:before {
  content: "\e648";
}

.icon-liwu:before {
  content: "\e603";
}

.icon-7:before {
  content: "\e67d";
}

.icon-15tianbaotui01:before {
  content: "\e688";
}

.icon-dizhi:before {
  content: "\e60b";
}

.icon-dingbu:before {
  content: "\e76c";
}

.icon-F:before {
  content: "\e601";
}

.icon-chongzhi:before {
  content: "\e65c";
}

.icon-chongzhi1:before {
  content: "\e618";
}

.icon-qian:before {
  content: "\e662";
}

.icon-simqia:before {
  content: "\e728";
}

.icon-24gl-clockCircle:before {
  content: "\eb3f";
}

.icon-qiye:before {
  content: "\e646";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-editor2:before {
  content: "\e62e";
}

.icon-gerenzhongxin:before {
  content: "\e614";
}

.icon-sousuo:before {
  content: "\e8ba";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-rengongrenwu:before {
  content: "\e6ee";
}

.icon-shouji:before {
  content: "\e8c6";
}

.icon-jiantou-you:before {
  content: "\e7c8";
}

.icon-jiantouzuo:before {
  content: "\e602";
}

.icon-icon-xiaomiguishu:before {
  content: "\e613";
}

