.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.two-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.red-line {
  position: absolute;
  left: 0;
  top: 1.6vw;
  display: block;
  content: "";
  width: 0.5333vw;
  height: 4.2667vw;
  background-color: #e5353e;
}
.grey-bottom-line {
  position: absolute;
  left: 4.2667vw;
  bottom: 0;
  display: block;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: #f0f1f2;
}
.category-line {
  margin: 0 auto;
  width: 91.4667vw;
  height: 1px;
  background-color: #f0f1f2;
}
.square {
  text-align: center;
  width: 4.2667vw;
  height: 4.2667vw;
  line-height: 4.2667vw;
  background: linear-gradient(180deg, #fc3c48 -3.91%, #ffaeb4 96.09%);
  border-radius: 1.3333vw 0;
  color: #fff;
  font-weight: bold;
}
.classics {
  margin: 3.2vw;
  padding: 3.2vw 4.2667vw 4.2667vw;
  width: 93.8667vw;
  background-color: #fff;
  border-radius: 2.6667vw;
}
.classics .classics-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.4667vw;
}
.classics .classics-title h2 {
  color: #191919;
  font-weight: bold;
  font-size: 5.3333vw;
}
.classics .classics-title a {
  color: #808080;
  font-size: 3.4667vw;
}
.classics .classics-title a b {
  vertical-align: middle;
}
.classics .classics-title a span {
  font-size: 3.7333vw;
  vertical-align: middle;
}
.classics .classics-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.classics .classics-list ul li {
  margin-top: 6.4vw;
}
.classics .classics-list ul li:nth-child(1) {
  margin-top: 2.6667vw;
}
.classics .classics-list ul li a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.classics .classics-list ul li a .left {
  margin-right: 2.1333vw;
}
.classics .classics-list ul li a .left img {
  width: 18.1333vw;
  height: 24vw;
  border-radius: 1.0667vw;
}
.classics .classics-list ul li a .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 23.4667vw;
}
.classics .classics-list ul li a .right h3 {
  line-height: 1.4;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  font-size: 4.5333vw;
  color: #191919;
}
.classics .classics-list ul li a .right p {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #808080;
  font-size: 3.4667vw;
}
.classics .classics-list ul li a .right .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #969ba3;
  font-size: 3.4667vw;
}
.classics .classics-list ul li a .right .bottom .bottom-right b {
  margin-right: 1.3333vw;
  padding: 0 0.8vw;
  font-size: 3.4667vw;
  border-radius: 1.0667vw;
  background-color: #f5f5f5;
  color: #adadad;
}
