.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.two-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.red-line {
  position: absolute;
  left: 0;
  top: 1.6vw;
  display: block;
  content: "";
  width: 0.5333vw;
  height: 4.2667vw;
  background-color: #e5353e;
}
.grey-bottom-line {
  position: absolute;
  left: 4.2667vw;
  bottom: 0;
  display: block;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: #f0f1f2;
}
.category-line {
  margin: 0 auto;
  width: 91.4667vw;
  height: 1px;
  background-color: #f0f1f2;
}
.square {
  text-align: center;
  width: 4.2667vw;
  height: 4.2667vw;
  line-height: 4.2667vw;
  background: linear-gradient(180deg, #fc3c48 -3.91%, #ffaeb4 96.09%);
  border-radius: 1.3333vw 0;
  color: #fff;
  font-weight: bold;
}
.booklist {
  position: relative;
  margin: 0 auto;
  border-radius: 2.6667vw;
}
.booklist .list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.booklist .list ul li {
  margin-top: 2.1333vw;
  padding: 4.2667vw;
  width: 93.6vw;
  height: 32vw;
  border-radius: 2.6667vw;
  background-color: #fff;
}
.booklist .list ul li:nth-child(1) {
  margin-top: 2.6667vw;
}
.booklist .list ul li a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.booklist .list ul li a .left {
  position: relative;
  margin-right: 4.8vw;
  width: 18.1333vw;
  height: 24vw;
}
.booklist .list ul li a .left img {
  position: relative;
  z-index: 2;
  width: 18.1333vw;
  height: 24vw;
  border-radius: 1.0667vw;
}
.booklist .list ul li a .left i {
  position: absolute;
  width: 14.6667vw;
  height: 22.6667vw;
  background-color: #ebebeb;
  border: 0.2667vw solid rgba(0, 0, 0, 0.08);
  border-radius: 1.0667vw;
}
.booklist .list ul li a .left i:nth-child(2) {
  right: -2.5333vw;
  bottom: 1.3333vw;
  height: 21.3333vw;
}
.booklist .list ul li a .left i:nth-child(3) {
  right: -1.4vw;
  bottom: 0.8667vw;
}
.booklist .list ul li a .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 23.4667vw;
}
.booklist .list ul li a .right h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.4;
  width: 62.6667vw;
  font-weight: bold;
  font-size: 4.5333vw;
  color: #191919;
}
.booklist .list ul li a .right p {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #808080;
  font-size: 3.4667vw;
}
.booklist .list ul li a .right .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #969ba3;
  font-size: 3.4667vw;
}
.booklist .list ul li a .right .bottom .bottom-right b {
  margin-right: 1.3333vw;
  padding: 0 0.8vw;
  font-size: 3.4667vw;
  font-weight: bold;
  border-radius: 1.0667vw;
  background-color: #f5f5f5;
  color: #adadad;
}
